@import "trabajos";
@import "contacto";
@import "servicios";
body{
    background-color: $color-rosa;
    margin: 4px;
    
}


section.form{
    h1{
        
        text-align:center;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}
section.pie-pagina{
    h1{
        text-align: center;
        
    }
    div.footer-container{
        align-items: center;
    }
}
.footer {
    
    padding: 20px;
    text-align: center;
}

.footer a {
    display: inline-block;
    margin: 0 10px;
}

.footer a img {
    width: 30px;
    height: 30px;
}

@media (max-width: 600px) {
    .footer a {
        margin: 10px 5px;
    }
}

section.service{
    h1{
        text-align: center;
    }
}
.slide{
    margin-top: 40px;
    
}
.slide img{
    height: 90vh;
}
.card img{
    height: 50vh;
}

.sobre-mi{

    h1{
        text-align: center;
        padding-top: 40px;
        
    }
    p{
        display: flex;
    }

}

.sobre-mi img{
    width: 350px;
    margin-top: 60px;
    padding: 30px;
    border: none;
}

.card{
    background-color: #D7BDE2;
}

.mb-3{
    width: 700px;
    margin-left: 200px;
    
}

.slide{
    width: 600px;
    margin-left: 250px;
    
}
.form{
    align-items: center;
    text-align: center;
}